<%= form_for @node, :html => { :class => "form-horizontal node" } do |f| %>

    <% if @node.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @node.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :ssid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ssid, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:ssid]) %>
  </div>
  <div class="control-group">
    <%= f.label :mac, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mac, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:mac]) %>
  </div>
  <div class="control-group">
    <%= f.label :capabilities, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :capabilities, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:capabilities]) %>
  </div>
  <div class="control-group">
    <%= f.label :frequency, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :frequency, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:frequency]) %>
  </div>
  <div class="control-group">
    <%= f.label :signal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :signal, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:signal]) %>
  </div>
  <div class="control-group">
    <%= f.label :lng, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lng, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:lng]) %>
  </div>
  <div class="control-group">
    <%= f.label :lat, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lat, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:lat]) %>
  </div>
  <div class="control-group">
    <%= f.label :seencount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :seencount, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:seencount]) %>
  </div>
  <div class="control-group">
    <%= f.label :updatecount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :updatecount, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:updatecount]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            nodes_path, :class => 'btn btn-default' %>

<% end %>
