<%- model_class = Node -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:ssid) %></th>
      <th><%= model_class.human_attribute_name(:mac) %></th>
      <th><%= model_class.human_attribute_name(:capabilities) %></th>
      <th><%= model_class.human_attribute_name(:frequency) %></th>
      <th><%= model_class.human_attribute_name(:signal) %></th>
      <th><%= model_class.human_attribute_name(:lng) %></th>
      <th><%= model_class.human_attribute_name(:lat) %></th>
      <th><%= model_class.human_attribute_name(:seencount) %></th>
      <th><%= model_class.human_attribute_name(:updatecount) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <td><%= link_to node.id, node_path(node) %></td>
        <td><%= node.ssid %></td>
        <td><%= node.mac %></td>
        <td><%= node.capabilities %></td>
        <td><%= node.frequency %></td>
        <td><%= node.signal %></td>
        <td><%= node.lng %></td>
        <td><%= node.lat %></td>
        <td><%= node.seencount %></td>
        <td><%= node.updatecount %></td>
        <td><%=l node.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_node_path(node), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      node_path(node),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_node_path,
            :class => 'btn btn-primary' %>
